.parent {
    position: relative;
  }
  
.center-me {
    width: 90vh;
    height: 90vh;
    padding: 2vh;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    margin: -0vh 0 0 -46vh;
  }